_tmp/
.DS_Store
node_modules

# AI stuff
.specstory/
.cursor*
CLAUDE.md
.claude*
.aidigestignore
.specstory/.what-is-this.md
codebase.md
.paic/
diff.txt
temp.txt

# BEGIN roobert
# Roobert
.roobert/
.DS_Store
# Common dev tools
.cursor/
.cursor*
.kiro/
.specstory/
.paic/
claude/
.aider*
diff.txt
temp.txt
digest.txt
# END roobert
