.container {
    display: flex;
    max-width: 64rem;
    padding: 0 1rem;
    flex-direction: row;
}

.sidebar {
    flex: 0.1;
    padding: 1px;
    display: flex;
    flex-direction: column;
    /* Default to column for desktop */
}

/* Pokemon Font */
@font-face {
    font-family: 'Pokemon GB';
    src: url('/fonts/PokemonGb-JacksterProductions.ttf') format('truetype');
}

/* Cursor fun! */
/* TODO: consider other states to add */
:root {
    --cursor-default: url('/cursors/pikachu/main.png'), auto;
    --cursor-pointer: url('/cursors/pikachu/normal.png'), pointer;
}

/* Ignore cursor for home image (`no-cursor-hover` is an arbitrary class name I picked and assigned) */
.no-cursor-hover:hover {
    cursor: var(--cursor-default);
}


/* Default state */
body {
    cursor: var(--cursor-default);
}

/* Link hover */
a:hover,
button:hover {
    cursor: var(--cursor-pointer);
}


.hover-icon-link-wrapper {
    position: relative;
    display: inline-block;
}

.hover-icon-link {
    display: inline-block;
    text-decoration: none;
}

.hover-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    border-radius: 2px;
    font-size: 6px;
    font-family: 'Pokemon GB', monospace;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    text-decoration: none;
}

.hover-text:hover {
    text-decoration: underline;
}

.hover-icon-link-wrapper:hover .hover-text {
    opacity: 1;
    visibility: visible;
}

.hover-icon-link img {
    transition: transform 0.2s ease;
}

.hover-icon-link:hover img {
    transform: scale(1.1);
}

.hover-icon-link:hover:not(.no-cursor-hover) img {
    cursor: var(--cursor-pointer);
}



@media (max-width: 768px) {

    /* Adjust this breakpoint as needed */
    .container {
        flex-direction: column;
        /* Stack columns vertically on smaller screens */
    }

    .sidebar {
        flex: 1;
        /* Allow columns to take full width */
        flex-direction: row;
    }
}