.container {
    display: flex;
    max-width: 64rem;
    padding: 0 1rem;
    flex-direction: row;
}

.sidebar {
    flex: 0.1;
    padding: 1px;
    display: flex;
    flex-direction: column;
    /* Default to column for desktop */
}

/* Cursor fun! */
/* TODO: consider other states to add */
:root {
    --cursor-default: url('/cursors/pikachu/main.png'), auto;
    --cursor-pointer: url('/cursors/pikachu/normal.png'), pointer;
}

/* Ignore cursor for home image (`no-cursor-hover` is an arbitrary class name I picked and assigned) */
.no-cursor-hover:hover {
    cursor: var(--cursor-default);
}


/* Default state */
body {
    cursor: var(--cursor-default);
}

/* Link hover */
a:hover,
button:hover {
    cursor: var(--cursor-pointer);
}


@media (max-width: 768px) {

    /* Adjust this breakpoint as needed */
    .container {
        flex-direction: column;
        /* Stack columns vertically on smaller screens */
    }

    .sidebar {
        flex: 1;
        /* Allow columns to take full width */
        flex-direction: row;
    }
}